<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	
	
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.txzhe.servlet.FreemarkerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArticleManageServlet</servlet-name>
		<servlet-class>com.txzhe.servlet.articleManage.ArticleManageServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	<!-- 资讯管理-列表mapping -->
	<servlet-mapping>
		<servlet-name>ArticleManageServlet</servlet-name>
		<url-pattern>/articleManage/article-list</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>